<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Congratulations!!</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="content">
<h1>Congratulations!</h1>
<h2>You successfully helped the farmer cross the river with the goat, cabbage, and wolf.</h2>


<div class="river-bank">
<div class="bank left">
<!-- empty, all have crossed -->
</div>


<a href="{{ url_for('restart') }}">Play Again</a>
</div>
</body>
</html>